/* Estilos generales */
@font-face {
    font-family: 'MyCustomFont';
    src: url('../fonts/NerkoOne.ttf') format('truetype');
    font-style: normal;
    font-weight: 800;
}

* {
    font-family: 'MyCustomFont', Arial, sans-serif;
    box-sizing: border-box;
}



body {
    background-color: #1E201E;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    color: #fff;
}
/*estilos del contenido  principal de inicio y sobre nosotros*/
.container {
    max-width: 854px;
    margin: 110px auto 20px;
    padding: 15px;
    background: transparent;
    border: 4px solid rgb(255, 255, 255);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 15px rgba(147, 6, 235, 0.3);
    border-radius: 15px;
    text-align: center;
    font-weight: 800;
    font-size: 25px;
}

h1 {
    text-align: center;
    font-weight: 400;
    border-bottom: solid;
}

h2 {
    border-top: solid;
    margin-top: 5px;
}

.info-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    text-align: center;
    font-weight: 800;
    font-size: 25px;
}

.info-box {
    width: 45%;
    background: transparent;
    border: 4px solid rgba(255, 255, 255, 0.955);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 15px rgba(147, 6, 235, 0.3);
    border-radius: 15px;
    padding: 15px;
    text-align: left;
}

.mission {
    border-left: 4px solid #fff;
}

.vision {
    border-right: 4px solid #fff;
}

.objectives {
    width: 100%;
    background: transparent;
    border: 4px solid rgba(255, 255, 255, 0.955);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 15px rgba(147, 6, 235, 0.3);
    border-radius: 15px;
    padding: 15px;
    margin-top: 20px;
    text-align: left;
    font-weight: 800;
    font-size: 25px;
}

.objectives ul {
    list-style-type: disc;
    margin: 0;
    padding: 0 20px;
}


.categories {
    margin-bottom: 20px;
    text-align: center;
}

.categories button {
    margin: 5px;
    padding: 10px 10px;
    font-size: 25px;
    cursor: pointer;
    background-color: #3C3D37;
    border: 4px solid rgba(255, 255, 255, 0.955);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 15px rgba(147, 6, 235, 0.3);
    color: #fff;
    border: none;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.categories button:hover {
    background-color: rgba(147, 6, 235, 0.3);
}

/* Estilos para el menú */
.menu-container {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.menu {
    font-size: 27px;
    max-width: 854px;
    margin: 10px auto 20px;
    padding: 15px 20px;
    background: transparent;
    border: 4px solid rgba(255, 255, 255, 0.959);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 15px rgba(147, 6, 235, 0.3);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1001;
}

.menu .logo {
    max-height: 40px;
}

.menu .nav-links {
    display: flex;
    gap: 15px;
}

.menu .nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s ease;
}

.menu .nav-links a:hover {
    border-bottom: double;
    color: rgba(147, 6, 235, 0.3);
}

/* Estilos para el menú hamburguesa */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 1002;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px;
    transition: all 0.3s ease;
}

.hamburger:hover div {
    background-color: rgba(147, 6, 235, 0.3);
}


#question-container {
    transition: background-color 0.3s ease;
    text-align: center;
    border-radius: 10px;
    font-size: 28px;
    font-weight: 400;
}

/* Estilos para respuestas */
#choices {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#choices button {
    margin: 10px;
    font-size: 32px;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 12px;
    background-color: #1E201E;
    border: 4px solid rgba(255, 255, 255, 0.991);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 15px rgba(147, 6, 235, 0.3);
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;

    width: 650px;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#choices button:hover {
    transform: translateY(-5px);
}

#choices .correct {
    background-color: #4CAF50;
}

#choices .incorrect {
    background-color: #f44336;
}

#control-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#exit-button, #select-category-button {
    padding: 10px 10px;
    font-size: 30px;
    cursor: pointer;
    background-color: #3C3D37;
    border: 4px solid rgba(255, 255, 255, 0.96);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 15px rgba(147, 6, 235, 0.3);
    color: #fff;
    border: none;
    border-radius: 12px;
    transition: background-color 0.6s ease;
}

#exit-button:hover, #select-category-button:hover {
    background-color: rgba(147, 6, 235, 0.3);
}

/* Estilos para página de login y registrate */
.wrapper {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 4px solid rgba(255, 255, 255, 0.973);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 15px rgba(147, 6, 235, 0.3);
    margin: 110px auto 20px;
    padding: 10px;
    max-width: 854px;
    border-radius: 20px;
    font-weight: 800;
    font-size: 26px;
}

form {
    width: 100%;
    text-align: center;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
    background: transparent;
    color: #fff;
    font-size: 32px;
}

.btn {
    align-items: center;
    margin: 15px 15px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer; 
    
}

.btn:hover, .forgot-password:hover, .register:hover {
    background-color: #9306eb; /* Fondo morado */
    color: white; /* Texto blanco */
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color:  #9606eb;
}


.input-box input::placeholder {
    color: #fff;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.remember-forgot label input {
    accent-color: #9606eb;
    margin-right: 5px;
}

button.login-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #9606eb;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 28px;
}

button.login-btn:hover {
    background-color: #9606eb;;
}


/*estillos del pie de pagina*/
footer {
    max-width: 854px;
    margin:15px auto 15px;
    padding: 0;
    background: transparent;
    border: 4px solid rgba(255, 255, 255, 0.955);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 15px rgba(147, 6, 235, 0.3);
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    text-align: center;
    flex-direction: column;
    line-height: 0.8;
}

/*estilos para dispositivos mobiles*/
@media (max-width: 768px) {
    .menu {
        margin: 10px 20px;
        padding: 15px 15px;
        font-size: 18px;
    }

    .menu .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 85px;
        left: 0;
        right: 0;
        background-color: #1E201E;
        border: 4px solid rgb(255, 255, 255);
        backdrop-filter: blur(20px);
        box-shadow: 0 0 15px rgba(147, 6, 235, 0.3);
        padding: 10px;
        margin-left: 55%;
        border-radius: 10px;
        z-index: 1002;
        align-items: center;
    }

    .menu .nav-links.responsive {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .menu-container {
        padding: 0;
    }

    .container {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 18px;
    }


    #question-container{
        font-size: 16px;
    }

    #exit-button, #select-category-button{
        font-size: 16px;
    }

    .categories button {
        margin-top: 20px;
        font-size: 16px;
    }

    #choices button {
        width: 90% !important;
        height: auto !important;
        font-size: 20px !important;
        padding: 5px !important;
    }

    .wrapper {
        margin: 110px 0 25px;
        padding: 15px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 20px;
    }


    .input-box input {
        font-size: 18px;
    }

    .eco-test {
        font-size: 16px;
        
    }

    .eco-btn {
        font-size: 18px;
    }

    .info-container {
        font-size: 18px;
    }

    footer {
        margin: 0 20px 10px;
        flex-direction: column-reverse;
        text-align: center;
        font-size: 16px;    
    }
}