<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre Nosotros</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>

    <link
      href="https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="menu-container">
      <div class="menu">
        <div class="logo-container">
          <a href="/">
            <img
              class="logo"
              src="{{ url_for('static', filename='img/logo.png') }}"
              alt="Logo"
            />
          </a>
        </div>
        <div class="nav-links" id="nav-links">
          <a href="/register">Registrarse</a>
          <a href="/login">Iniciar Sesión</a>
        </div>
        <div class="hamburger" id="hamburger">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>

    <div class="container">

      <h1>Sobre Nosotros</h1>

      <div class="info-container">
        <div class="info-box mission">
          <h3>Misión</h3>
          <p>
            Nuestra misión es promover la conciencia ambiental en zonas rurales,
            urbanas y desde los hogares a través de un enfoque educativo y
            lúdico, utilizando quizzes interactivos que informan y educan sobre
            la importancia del cuidado del medio ambiente.
          </p>
        </div>

        <div class="info-box vision">
          <h3>Visión</h3>
          <p>
            Queremos ser líderes en la educación ambiental, inspirando a las
            comunidades a adoptar prácticas sostenibles y a tomar acción
            proactiva para proteger y preservar nuestro planeta para las futuras
            generaciones.
          </p>
        </div>
      </div>

      <div class="objectives">
        <h2>Objetivos</h2>
        <ul>
          <li>
            Incrementar la conciencia sobre la importancia del medio ambiente en
            diversas comunidades.
          </li>
          <li>
            Facilitar el acceso a información educativa sobre prácticas
            sostenibles.
          </li>
          <li>
            Fomentar la participación activa en actividades de protección
            ambiental.
          </li>
          <li>
            Proveer una plataforma interactiva que permita a los usuarios
            aprender de manera divertida y efectiva.
          </li>
        </ul>
      </div>

    </div>

    <footer>
      <p>ECOQUIZ 2024</p>
      <p>Todos los derechos reservados. ECOTEAM.</p>
    </footer>

    <script>
      const hamburger = document.getElementById("hamburger");
      const navLinks = document.getElementById("nav-links");

      hamburger.addEventListener("click", () => {
        navLinks.classList.toggle("responsive");
      });
    </script>
  </body>
</html>
