<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ingresar</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="menu-container">
      <div class="menu">
        <div class="logo-container">
          <a href="/">
            <img
              class="logo"
              src="{{ url_for('static', filename='img/logo.png') }}"
              alt="Logo"
            />
          </a>
        </div>
        <div class="nav-links" id="nav-links">
          <a href="/about">Sobre Nosotros</a>
          <a href="/register">Registrarse</a>
          <a href="/login">Iniciar Sesión</a>
        </div>
        <div class="hamburger" id="hamburger">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>

    <div class="wrapper">
      <form action="">
        <h1>Inicio de sesión</h1>
        <div class="input-box">
          <input type="text" placeholder="Usuario" required />
          <i class="bx bxs-user"></i>
        </div>
        <div class="input-box">
          <input type="password" placeholder="Contraseña" required />
          <i class="bx bxs-lock-alt"></i>
        </div>

        <div class="remember-forgot">
          <label><input type="checkbox" />Recordarme</label>
          <a href="#">Olvidaste la contraseña?</a>
        </div>

        <button type="submit" class="btn">Ingresar</button>

        <div class="register-link">
          <p>No tienes una cuenta? <a href="#">Regístrate</a></p>
        </div>
      </form>
    </div>

    <footer>
      <p>ECOQUIZ 2024</p>
      <p>Todos los derechos reservados. ECOTEAM.</p>
    </footer>

    <script>
      const hamburger = document.getElementById("hamburger");
      const navLinks = document.getElementById("nav-links");

      hamburger.addEventListener("click", () => {
        navLinks.classList.toggle("responsive");
      });
    </script>
  </body>
</html>
